<div class="main-container">
  <div class="product-container" *ngIf="product">
  <img class="product-image" [src]="product.imageUrl" alt="{{ product.title }}" />
  <h2 class="product-title">{{ product.title }}</h2>
  <p class="product-price">Price: ${{ product.price }}</p>
  <p class="product-description">Description: {{ product.description }}</p>
  <button (click)="goToBuyComponent()" class="button">Back to Home</button>
  <button (click)="viewSellerDetailsBySendingProduct(product)" class="button">View Seller Details</button>
  <button *ngIf="product.status==0  && product.isGroupPurchase  != 1" (click)="inPersonInspectionRequest(product)" class="button">In-Person Inspection Request</button>
  <p *ngIf="product.status==1">In-person Request sent</p>
  <button *ngIf="product.status!=3 && product.isGroupPurchase  != 1" (click)="buyProduct(product)" class="button">Buy</button>
  <button *ngIf="product.status != 3 && product.isGroupPurchase == 1" (click)="buyProductInGroup(product)" class="button">Buy in Group</button>
  <p *ngIf="product.status==3">Product Purchased</p>
</div>
</div>