<div class="main-container">
  <div class="product-container" *ngIf="product">
  <h2 class="product-title">{{ product.title }}</h2>
  <p class="product-price">Price: ${{ product.price }}</p>
  <p class="product-description">Description: {{ product.description }}</p>
  <button (click)="viewSellerDetailsBySendingProduct(product)" class="view-seller-button">View Seller Details</button>
  <button (click)="inPersonInspectionRequest(product)" class="view-seller-button">In-Person Inspection Request</button>
  <button (click)="buy(product)" class="view-seller-button">Buy</button>
</div>
</div>