<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/home/buy">STC</a>
  </div>
  <div class="navbar-right">
    <a routerLink="buy" routerLinkActive="selected" class="list-item">Buy</a>
    <a routerLink="sell" routerLinkActive="selected" class="list-item">Sell</a>
    <a routerLink="profile" routerLinkActive="selected" class="list-item">{{user.userName}}</a>
    <a routerLink="cart" routerLinkActive="selected" class="list-item">cart</a>
    <a routerLink="" class="list-item">Log Out</a>
  </div>
</nav>


<router-outlet></router-outlet>