<p>buyer-details works!</p>
<div class="main-container">
  <div class="container">
    <div class="buyer-info">
      <h1>Buyer: {{ buyer.userName }}</h1>
      <p>Email: {{ buyer.emailId }}</p>
      <p>Phone: {{ buyer.phone }}</p>
    </div>
    <div class="buyer-address">
      <h2>Address:</h2>
      <p>{{ buyer.address }}</p>
    </div>
    <div class="buyer-profile">
      <h2>Profile Level:</h2>
      <p>{{ buyer.profileLevel }}</p>
    </div>
  </div>
    <button (click)="goToSellComponent()" class="button">Back</button>
</div>
