/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Dark theme styles */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  background-image: url(../../assets/bg1.avif);
  background-size: cover;
  background-color: #111; /* Dark background color */
  color: #fff; /* Text color */
}

.add-product {
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background for the form */
  padding: 20px;
  margin: 20px 0px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 400px;
}

.add-product h2 {
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

form .form-group {
  margin: 10px 0;
  text-align: left;
}

form label {
  font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background: #333; /* Dark input field background */
  color: #fff;
}

form button {
  background: #007bff; /* Blue button background */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background: #0056b3; /* Slightly darker blue on hover */
}

/* Products Section */
.products-section {
  margin-top: 20px;
  width: 400px;
  text-align: center;
}

.products-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-card {
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background for product cards */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.product-card h2 {
  font-size: 20px;
}

.product-card p {
  font-size: 16px;
}

/* Success message */
.successMsg {
  color: #28a745; /* Green color for success messages */
}


