<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE-edge">
     <title>navbar</title>
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width">
     <link rel="login.component" href="login.component.scss">

  </head>
  <body>
    <div class="newegi">
   <header>
    <div class="icon">
      <h2 class="logo">STC</h2>
     </div>
    <nav>
      <ul class="nav_links">
         <li><a href="#">services</a></li>
         <li><a href="#">project</a></li>
         <li><a href="#">About</a></li>
      </ul>
    </nav>
   </header> 



<div class="main-container"><div class="container">
  <h2>Login</h2>
  <form #loginform="ngForm" (ngSubmit)="loginUser()">
    <small class="text-danger">{{ errorMsg }}</small>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter email"
        name="email"
        [(ngModel)]="user.emailId"
        required
        pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
      />
      <small class="text-danger" [class.d-none]="email.valid || email.untouched"
        >Email Id is required field</small
      >
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter password"
        name="pwd"
        [(ngModel)]="user.password"
        required
        #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
      />
      <small
        class="text-danger"
        [class.d-none]="password.valid || password.untouched"
        >Password is required field</small
      >
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember" /> Remember me</label>
    </div>
    <button
      [disabled]="loginform.form.invalid"
      type="submit"
      class="btn btn-info"
    >
      Login
    </button>
  </form>
  <!-- Method-1 -->
  <!-- * <small class="float-right" (click)="gotoRegistration()">New user? Register here</small> -->
  <!-- Method-2 -->
  <small [routerLink]="['/registration']">New user? Register here!!</small>
</div>
</div>
</div>
</body>
</html>