<div class="main-container">
  <div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <small class="text-danger">{{ errorMsg }}</small>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email"
          formControlName="email"
          required
          aria-describedby="emailHelp"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div *ngIf="loginForm.get('email').errors && loginForm.get('email').touched" class="text-danger">
          <div *ngIf="loginForm.get('email').errors.required">Email is required.</div>
          <div *ngIf="loginForm.get('email').errors.pattern">Invalid email format.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter password"
          formControlName="password"
          required
        />
        <div *ngIf="loginForm.get('password').errors && loginForm.get('password').touched" class="text-danger">
          <div *ngIf="loginForm.get('password').errors.required">Password is required.</div>
          <!-- Add other specific error messages here -->
        </div>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" formControlName="remember" /> Remember me</label>
      </div>
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-info"
      >
        Login
      </button>
    </form>
    <small [routerLink]="['/registration']">New user? Register here!</small>
  </div>
</div>
