.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

.checkbox {
  margin-bottom: 15px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.text-danger {
  color: #dc3545;
  font-size: 12px;
  display: block;
}

.sucessMsg {
  color: #28a745;
}

.float-right {
  display: block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
  text-align: right;
}

.float-right:hover {
  text-decoration: underline;
}

.has-error {
  input {
    border: 1px solid #dc3545;
  }

  small {
    display: block;
    color: #dc3545;
  }

  .sucessMsg {
    display: none;
  }
}
