/* product-list.component.css */
.main-container {
    min-height: 100vh;
  background-image: url(../../assets/bg1.avif);
  background-size: cover;
  padding: 1rem 5rem;
}
.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  background-color: #2a2a2a;
  transition: transform 0.2s;
}


.product-card h2 {
  font-size: 1.5rem;
  margin: 0;
}

.product-card p {
  font-size: 1.2rem;
  margin: 0;
  color: #888;
}

.product-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.product-card button:hover {
  background-color: #0056b3;
}

h1{
  color: white;
}